{% load static %}

<head>
  <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css">
</head>
<body>
{% if s_user_list %}
    <ul>
    {% for s_user in s_user_list %}
        <div class = "user">
            <li>
                <span>{{s_user.id}}</span>
                <span>{{s_user.name}}</span>
                <span>{{s_user.email}}</span>
                <span>{{s_user.description}}</span>        
            </li>
        </div>

    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>